<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade 3 - Pagina de Upload de Foto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atividade18_12/pag_upload_foto.css') }}">
</head>
<body>
    <div class="container">
        <h2>Upload de Imagens</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('atividades18_12.upload') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Enviar</button>
        </form>

        <h3>Arquivos Enviados:</h3>
        <ul>
            {% for file in files %}
            <li>
                <strong>Arquivo:</strong> {{ file.path }} <br>
                <strong>Data e Hora do Upload:</strong> {{ file.timestamp }}
            </li>     
            {% endfor %}
        </ul>
    </div>
</body>
</html>
