<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/atividade30_10/atividade4.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>

  <body>
    <nav class="home">
      <a href="{{url_for('atividades30_10.activity4')}}"><i class="bi bi-house-door"></i>Home</a>
    </nav>
    <div class="curriculo">

      <head>
        <div class="name">
          <h1>Franciele Almeida</h1>
        </div>
      </head>
      <main>
        <div class="summary-contact">
          <div class="summary">
            <h2>Resumo</h2>
            <p>Sou estudante de Tecnólogo em Análise e Desenvolvimento de Sistemas pelo Instituto Federal do Mato Grosso do Sul - Campus Três Lagoas (IFMS-TL). Possuo maiores habilidades no desenvolvimento web, além de conhecimento em ferramentas de programação.</p>
          </div>
          <div class="contact">
            <ul>
              <li><a href="#"><i class="bi bi-telephone-fill"></i> (67)99321-1319
                </a></li>
              <li><a href="#"><i class="bi bi-envelope-fill"></i>franciele.tlc@gmail.com
                </a></li>
              <li><a href="#"><i class="bi bi-geo-alt-fill"></i>Três Lagoas - MS
                </a></li>
            </ul>
          </div>
        </div>
        <div class="experience-skills">
          <div class="experience">
            <h2>Experiência</h2>
            <div class="enterprise">
              <p>Prefeitura Três Lagoas</p>
              <span>Atendente de Farmácia • Maio 2022 - Atualmente</span>
            </div>
            <div class="enterprise">
              <p>Hospital Cassems</p>
              <span>Assistente de farmácia • Julho 2016 – Junho 2022</span>
            </div>

          </div>
          <div class="skills">
            <h2>habilidades e Competências</h2>
            <div class="languages">
              <p>Conhecimento em:</p>
              <ul>
                <li>HTML, CSS, SASS</li>
              </ul>
            </div>
            <div class="languages">
              <p>Conhecimento nas Linguagens: </p>
              <ul>
                <li>Python, JavaScript</li>
                <li>Banco de Dados: PostgreSQL </li>
              </ul>
            </div>
            <div class="languages">
              <p>Aprendendo Recentemente: </p>
              <ul>
                <li>TypeScript, Vite, React, React Native, Node.js</li>
                <li>Framework: Flask </li>
                <li>Banco de Dados: MongoDB </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="academic">
          <h2>Formação Acadêmica</h2>
          <div class="course">
            <p>Tecnólogo em Análise e Desenvolvimento de Sistemas</p>
            <span>Instituto Federal do Mato Grosso do Sul • Julho 2022 –Julho 2025</span>
          </div>
          <div class="course">
            <p>Técnico em farmácia</p>
            <span> Senac. • Abril 2014– Setembro 2015</span>
          </div>
        </div>
      </main>
    </div>
  </body>

</html>