<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/atividade30_10/atividade4.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>

  <body>
    <nav class="home">
      <a href="{{url_for('atividades30_10.activity4')}}"><i class="bi bi-house-door"></i>Home</a>
    </nav>
    <div class="curriculo">

      <head>
        <div class="name">
          <h1> Caio Freitas</h1>
        </div>
      </head>
      <main>
        <div class="summary-contact">
          <div class="summary">
            <h2>Resumo</h2>
            <p> Sou graduando em Tecnologia em Análise e Desenvolvimento de
              Sistemas (TADS) pelo Instituto Federal de Educação, Ciência e
              Tecnologia de Mato Grosso do Sul - Campus Três Lagoas (IFMS
              TL). Tenho atuado na área de Análise de Sistemas e Suporte
              Computacional, com um foco na manipulação e extração de
              dados de bancos de dados, bem como no controle e análise do
              desempenho dos recursos no sistema Warehouse Management
              System (WMS).</p>
          </div>
          <div class="contact">
            <ul>
              <li><a href="#"><i class="bi bi-linkedin"></i>www.linkedin.com/in/caio-freitas-77b824236
                </a></li>
              <li><a href="#"><i class="bi bi-envelope-fill"></i>caio.freitas2598@gmail.com
                </a></li>
              <li><a href="#"><i class="bi bi-geo-alt-fill"></i>Três Lagoas - MS
                </a></li>
            </ul>
          </div>
        </div>
        <div class="experience-skills">
          <div class="experience">
            <h2>Experiência</h2>
            <div class="enterprise">
              <p> Adar Tecidos </p>
              <span> Analista de sistemas • Abril 2024 - Atualmente</span>
            </div>
            <div class="enterprise">
              <p> Adar Tecidos </p>
              <span> Assistente de sistemas • Novembro 2022 - Junho 2024</span>
            </div>
            <div class="enterprise">
              <p> Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso
                do Sul </p>
              <span> Desenvolvedor de software • Maio 2022 – Novembro 2022</span>
            </div>
            <div class="enterprise">
              <p>CNPq </p>
              <span> Bolsista - ITI-A Embrapa Pantanal • Janeiro 2021 – Junho 2022</span>
            </div>

          </div>
          <div class="skills">
            <h2>habilidades e Competências</h2>
            <div class="languages">
              <p>Manipulação e Extração de Dados</p>
              <ul>
                <li></li>
              </ul>
            </div>
            <div class="languages">
              <p>Controle e Análise de Desempenho</p>
              <ul>
                <li></li>
              </ul>
            </div>
            <div class="languages">
              <p>Business Intelligence (BI)</p>
              <ul>
                <li></li>
              </ul>
            </div>
            <div class="languages">
              <p> Identificação de Erros e Proposição de Melhorias</p>
              <ul>
                <li></li>
              </ul>
            </div>
            <div class="languages">
              <p>Experiência em desenvolvimento back-end e front-end </p>
              <ul>
                <li>Python, JavaScript, Node.js, Oracle, SQLServer</li>
              </ul>
            </div>
            <div class="languages">
              <p>Scrum </p>
              <ul>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="academic">
          <h2>Formação Acadêmica</h2>
          <div class="course">
            <p>Tecnólogo em Análise e Desenvolvimento de Sistemas</p>
            <span>Instituto Federal do Mato Grosso do Sul • Janeiro 2020 - Agosto 2024</span>
          </div>
          <div class="course">
            <p>Curso de JavaScript do iniciante ao mestre NodeJS e TypeScript (2022)</p>
            <span></span>
          </div>
          <div class="course">
            <p> Programação Python do básico ao avançado </p>
            <span></span>
          </div>
          <div class="course">
            <p> Super formação inteligência artificial e Machine Learnin </p>
            <span></span>
          </div>
        </div>
      </main>
    </div>
  </body>

</html>