<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/atividade30_10/atividade4.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>

  <body>
    <nav class="home">
      <a href="{{url_for('atividades30_10.activity4')}}"><i class="bi bi-house-door"></i>Home</a>
    </nav>
    <div class="curriculo">

      <head>
        <div class="name">
          <h1>Isabelle Firmino Rancan </h1>
        </div>
      </head>
      <main>
        <div class="summary-contact">
          <div class="summary">
            <h2>Resumo</h2>
            <p>Estudante de Análise e Desenvolvimento de Sistemas com experiência
              em marketing digital. Possuo habilidades em análise, programação,
              desenvolvimento web e ferramentas de TI. Busco uma oportunidade de estágio
              para aplicar meus conhecimentos e ganhar experiência prática na área.</p>
          </div>
          <div class="contact">
            <ul>
              <li><a href="#"><i class="bi bi-telephone-fill"></i>(11) 94279-0675
                </a></li>
              <li><a href="#"><i class="bi bi-envelope-fill"></i>isabellerancan@gmail.com
                </a></li>
              <li><a href="#"><i class="bi bi-geo-alt-fill"></i>Três Lagoas - MS
                </a></li>
            </ul>
          </div>
        </div>
        <div class="experience-skills">
          <div class="experience">
            <h2>Experiência</h2>
            <div class="enterprise">
              <p> Grupo RCN </p>
              <span> Assistente de Marketing • Fevereiro 2022 - Atualmente</span>
            </div>

          </div>
          <div class="skills">
            <h2>habilidades e Competências</h2>
            <div class="languages">
              <p>Linguagens de Programação e Estruturação:</p>
              <ul>
                <li>JavaScript, Python, Java, PostgreSQL, HTML e CSS. </li>
              </ul>
            </div>
            <div class="languages">
              <p> Desenvolvimento Web: </p>
              <ul>
                <li>Experiência com a plataforma WordPress</li>
              </ul>
            </div>
            <div class="languages">
              <p>Ferramentas de TI:</p>
              <ul>
                <li> Conhecimento no pacote Office e aplicativos Adobe</li>
              </ul>
            </div>
            <div class="languages">
              <p>Habilidades em Marketing Digital:</p>
              <ul>
                <li> Experiência como social media, videomaker, e na plataforma de chatbot BotConversa. </li>
              </ul>
            </div>
            <div class="languages">
              <p>Inglês: Nível intermediário.</p>
              <ul>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="academic">
          <h2>Formação Acadêmica</h2>
          <div class="course">
            <p>Tecnólogo em Análise e Desenvolvimento de Sistemas</p>
            <span>Instituto Federal do Mato Grosso do Sul • Julho 2022 - Agosto 2025</span>
          </div>
          <div class="course">
            <p>Curso Técnico em Informática para Internet </p>
            <span>ETEC Parque Belém • Fevereiro 2019 – Dezembro 2021</span>
          </div>
        </div>
      </main>
    </div>
  </body>

</html>