<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio - Atividades Aula 30/10</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/atividade30_10/atividade5.css')}}">
  </head>

  <body>

    <header>
      <h1>Atividades</h1>
      <span>Aula 30/10</span>
    </header>
    <main>
      <ul>
        <li>
          <a href="{{url_for('atividades30_10.activity1')}}">Atividade 01<span> Tag Canva</span></a>
        </li>
        <li>
          <a href="{{url_for('atividades30_10.activity2')}}">Atividade 02<span> Foto com Webcam</span></a>
        </li>
        <li>
          <a href="{{url_for('atividades30_10.activity3')}}">Atividade 03<span> Tabela com 997 linhas</span></a>
        </li>
        <li>
          <a href="{{url_for('atividades30_10.activity4')}}">Atividade 04<span> Currículos</span></a>
        </li>
      </ul>
    </main>
  </body>

</html>