<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade 3 - Tabela</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/atividade30_10/atividade3.css')}}">
    <script src="{{url_for('static', filename='js/atividade30_10/atividade3.js')}}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  </head>

  <body>
    <nav class="home">
      <a href="{{url_for('homeclassroom30_10')}}"><i class="bi bi-house-door"></i>Home</a>
    </nav>
    <h1>Tabela</h1>
    <div class="table" id="table">
      <ul class="title">
        <li>ID</li>
        <li>Nome</li>
        <li>Sobrenome</li>
        <li>Email</li>
        <li>Aplicação</li>
      </ul>
    </div>
  </body>

</html>