<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atividade06_11/home_login.css') }}">
  </head>

  <body>
    <nav>
      <a href="{{ url_for('atividades06_11.activity1') }}">Sair</a>
    </nav>

    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-success" role="alert">
        {% for message in messages %}
        <h1>{{ message }}</h1>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      <h2>Seja Bem-vindo</h2>
    </div>

  </body>

</html>
