<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio - Atividades Aula 30/10</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/atividade06_11/home_atividade.css')}}">
  </head>

  <body>

    <header>
      <h1>Atividades</h1>
      <span>Aula 06/11</span>
    </header>
    <main>
      <ul>
        <li>
          <a href="{{url_for('atividades06_11.activity1')}}">Atividade 01<span> Login</span></a>
        </li>
        <li>
          <a href="{{url_for('atividades06_11.register')}}">Atividade 02<span> Formulário</span></a>
        </li>
        <li>
          <a href="{{url_for('atividades06_11.atividade_class')}}">Atividade 03<span>Codigo Class</span></a>
        </li>
      </ul>
    </main>
  </body>

</html>